PORT=3001
DATABASE_URL=postgresql://postgres.xxx:[password]@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres?search_path=appointment
CUSTOMER_VEHICLE_SERVICE_URL=http://localhost:3000
JOB_SERVICE_URL=http://localhost:3002
