PORT=3000
DATABASE_URL=postgresql://postgres:[password]@db.qtpnbjemcjdiidcgetui.supabase.co:5432/postgres?search_path=cv
JWT_SECRET=your-secret-here
NOTIFICATION_SERVICE_URL=http://localhost:3003
APPOINTMENT_SERVICE_URL=http://localhost:3001
